<!DOCTYPE html>
<html>
  <head>
    <title>Departures</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar">
        <div class="nav1">
          <h1>Departures</h1>
        </div>
        <div class="nav2">
          <ul>
            <li><a href="#"><%= link_to "Airports", airports_index_url %></a></li>
            <li><a href="#"><%= link_to "Departures", departures_index_url %></a></li>
            <li><a href="#"><%= link_to "Disjointed", departures_disjointed_url %></a></li>
            <li><a href="#"><%= link_to "Timeline", departures_timeline_url %></a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
